@import "tailwindcss";
@tailwind utilities;

@font-face {
  font-family: "Sequel Sans Book";
  src: url("../../public/assets/font/Sequel\ Sans\ OTF/Sequel Sans Book Body.otf")
    format("opentype");
}

@font-face {
  font-family: "Sequel Sans Medium";
  src: url("../../public/assets/font/Sequel\ Sans\ OTF/Sequel Sans Medium Disp.otf")
    format("opentype");
}

@font-face {
  font-family: "Sequel Sans Random Display";
  src: url("../../public/assets/font/Sequel\ Sans\ OTF/Sequel Sans Roman Disp.otf")
    format("opentype");
}
@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../../public/assets/font/CabinetGrotesk_Complete/Fonts/OTF/CabinetGrotesk-Medium.otf")
    format("opentype");
}
@font-face {
  font-family: "subjectivity";
  src: url("../../public/assets/font/subjectivity/Subjectivity-Regular.otf")
    format("opentype");
}
:root {
  --background: black;
  --foreground: #ffffff;
  --font-family: "Cabinet Grotesk", sans-serif;
  --font-family-sequel-sans-book: "Sequel Sans Book", sans-serif;
  --font-family-sequel-sans-medium: "Sequel Sans Medium", sans-serif;
  --font-family-sequel-sans-random-display: "Sequel Sans Random Display";
  --font-family-subjectivity: "subjectivity", sans-serif;
}

body,
html {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family);
  position: relative;
  scroll-behavior: smooth;
}

/* navbar CSS */

.navitems-section-wrapper {
  background-image: url("../../public/assets/nav-content-background-image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 51px;
  border-radius: 100px;
  border: 1px solid #ffffff1a;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden; /* important to clip ::before */
}

.navitems-section-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4); /* adjust opacity as needed */
  border-radius: 100px;
  z-index: 0;
}

.navitems-section-wrapper > * {
  position: relative;
  z-index: 1;
}

.navbar-wrapper {
  padding: 0 2rem 0 2rem;
  position: sticky;
  top: 0;
  background-color: transparent;
  z-index: 10;
}

.nav-item {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1rem;
  line-height: 20.04px;
  letter-spacing: -1%;
  color: #ffffff;
}

/* hero section  */

.hero-title-1,
.hero-title-2 {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 128px;
  line-height: 120%;
  letter-spacing: -7%;
  text-transform: uppercase;
}

.hero-title-1 {
  opacity: 70%;
}

.hero-title-2 {
  opacity: 100%;
  font-size: 140px;
}

.hero-section-wrapper {
  background-image: url("../../public/assets/hero-section-background.png");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding-top: 4rem;
}

.background-image-hero-section {
  margin-top: -10%;
  left: 0;
  width: 100vw;
  max-height: 1180px;
  min-height: 1180px;
}

.hero-section-content-wrapper {
  position: absolute;
  z-index: 2;
  bottom: -3%;
  width: 100%;
  margin-top: 2rem;
}

.hero-content-wrapper {
  position: absolute;
  bottom: 0;
  align-items: center;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.hero-content-box-wrapper {
  width: 100%;
  height: fit-content;

  display: flex;
  background-color: transparent;
  border-color: wheat;
  justify-content: space-around;
  padding: 2rem 0;
  align-items: center;
}

.plus-icon-in-counter {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 3%;
  text-transform: uppercase;
  background: linear-gradient(180deg, #ff891d 0%, #ec4b7b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* scroll to reveal section  */

.text-to-reveal-section-wrapper {
  padding: 1.75rem 0;
  max-width: 1232px;
  text-align: center;
  margin: 8.75rem auto;
}

.ScrollReveal_scroll-reveal-text__Td_gR {
  font-family: var(--font-family-sequel-sans-book);
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0%;
}

/* Our Expertise */

.our-expertise-wrapper {
  background-image: url("../../public/assets/Our\ Expertise\ background\ image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: center;
  position: relative;
  background: transparent;
  padding: 6.25rem 0;
  border: 1px solid #3f3f3f;
  border-radius: 48px;
}

.text-heading-our-expertise {
  font-weight: 500;
  font-size: 80px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}
.text-heading-our-expertise span {
  font-weight: 500;
  font-size: 80px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: Purple Gradient;
  background: linear-gradient(0deg, #c883ff, #c883ff),
    linear-gradient(180deg, #772bf2 0%, rgba(206, 10, 255, 0) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-paragraph-our-expertise {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  max-width: 816px;
  margin: 0 auto;
}

.falling-text-container-highlight {
  height: 300px;
  max-width: 1200px;
  margin: 5rem auto 0 auto;
}

.falling-text-container-highlight.hovered {
  max-width: 100%;
}

/* workflow stages */

.workflow-stages-container {
  padding: 8.75rem 0;
  position: relative;
}

.custom-scroll-text-in-workflow-stages {
  font-family: var(--font-family-subjectivity);
  font-weight: 500;
  font-size: 160px;
  line-height: 100%;
  letter-spacing: 3%;
  text-transform: uppercase;
  background: linear-gradient(93.46deg, #c4c4c4 4.94%, #ffffff 98.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  opacity: 15%;
}

.gradient-border {
  --borderWidth: 1px;
  background: #1d1f20;
  position: relative;
  border-radius: var(--borderWidth);
  max-height: 475px;
  min-height: 475px;
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.gradient-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
  border-radius: 20px;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.workflow-stages-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
  max-width: 1232px;
  margin: 0 auto;
  padding: 0 2rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.workflow-stage-id {
  font-family: var(--font-family-sequel-sans-medium);
  font-weight: 415;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 3%;

  background: linear-gradient(93.46deg, #c4c4c4 4.94%, #ffffff 98.78%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.1;
}

.workflow-stage-title {
  font-family: var(--font-family-sequel-sans-medium);
  font-weight: 415;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  background: linear-gradient(93.46deg, #c4c4c4 4.94%, #ffffff 98.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.workflow-stage-description {
  font-family: var(--font-family-sequel-sans-book);
  font-weight: 405;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3%;
  background: linear-gradient(93.46deg, #c4c4c4 4.94%, #ffffff 98.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.4;
  margin-top: 1.5rem;
}

.workflow-stage-arrow {
  display: block;
  margin-left: auto;
}

.inside-creative-mind-wrapper {
  text-align: center;
}

.inside-creative-mind-wrapper h3 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 80px;
  line-height: 88px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #ffffff;
}

.inside-creative-mind-wrapper h3 span {
  color: rgb(198, 90, 54);
}

.inside-creative-mind-wrapper p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  max-width: 816px;
  margin: 1.5rem auto 6.25rem auto;
}

.video-wrapper {
  max-width: 1232px;
  max-height: 659px;
  margin: 0 auto;
  width: 100%;
  aspect-ratio: 816 / 659; /* Use aspect ratio instead of padding */
  margin-bottom: 8.75rem;
}

.responsive-player {
  width: 100%;
  height: 100%;
  border-radius: 48px;
  overflow: hidden;
  position: relative;
}

.responsive-player > iframe,
.responsive-player > video,
.responsive-player > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* client projects section  */

.client-projects-container {
  text-align: center;
}

.client-projects-container .client-projects-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 80px;
  line-height: 88px;
  letter-spacing: 0%;
  vertical-align: middle;
}
.client-projects-container .client-projects-title span {
  background: linear-gradient(0deg, #772bf2, #772bf2),
    linear-gradient(180deg, #ec4b7b 0%, rgba(206, 10, 255, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* for Firefox */
  color: transparent;
}

.client-projects-container .client-projects-description {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  max-width: 816px;
  margin: 1.5rem auto 6.25rem auto;
}

.client-projects-container .client-projects-image {
  display: block;
  margin: 0 auto 2.5rem auto;
}

.title-text-in-projects-data {
  font-family: var(--font-family-sequel-sans-medium);
  font-weight: 410;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #999999;
  max-width: 608px;
  text-align: left;
}

.paragraph-text-in-projects-data {
  font-family: var(--font-family-sequel-sans-medium);
  font-weight: 410;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  color: #999999;
}

.project-data-container {
  max-width: 1232px;
  margin: 0 auto 6.25rem auto;
}

.flowing-menu-item-projects-data-container {
  padding: 2rem 0;
}

.view-more-button {
  /* width: 334px; */
  /* height: 72px; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 0 auto 10.143rem;

  font: 700 32px/1 var(--font-family);
  text-align: center;

  background: black; /* or your intended background */
  border: none;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  z-index: 1;
  color: white;
  padding: 1rem 2rem; /* adds spacing inside */

  /* to avoid overlap from pseudo-elements */
  overflow: hidden;
}

/* Full animated border around the button */
.view-more-button::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  z-index: -1;
  border-radius: 23px; /* 20px + 3px border padding */
  padding: 3px; /* This defines the border thickness */

  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  background-size: 300% 300%;
  animation: animatedgradient_button 3s ease infinite alternate;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

/* Gradient animation keyframes */
@keyframes animatedgradient_button {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* testimonials showcase */

.backround-image-testimonial-showcase {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.absolute-container-testimonial-showcase {
  position: relative;
  top: 7.75rem;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 auto 8.75rem auto;
}

.absolute-container-testimonial-showcase .absolute-title-testimonial-showcase {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 80px;
  line-height: 88px;
  letter-spacing: 0%;
  vertical-align: middle;
}

.absolute-container-testimonial-showcase
  .absolute-title-testimonial-showcase
  span {
  background: linear-gradient(0deg, #c883ff, #c883ff),
    linear-gradient(180deg, #772bf2 0%, rgba(206, 10, 255, 0) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* for Firefox */
  color: transparent;
}

.absolute-container-testimonial-showcase
  .absolute-paragraph-testimonial-showcase {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  max-width: 816px;
  margin: 1.5rem auto 5rem auto;
}

/* .horizontal-scroller-card:last-child {
  margin-right: 1rem;
} */

.horizontal-scroller-card {
  padding: 1rem !important;
}

/* our partners section */

.our-partners-section {
  margin: 9.75rem auto 11.688rem auto;
  padding-top: 9.75rem;
}

/* build-with-us-banner */

.build-with-us-banner {
  background: linear-gradient(0deg, #772bf2, #772bf2),
    linear-gradient(180deg, #ec4b7b 0%, rgba(206, 10, 255, 0) 100%);
  background-blend-mode: screen;

  padding: 7.5rem 0;
  text-align: center;
  /* top-left and bottom-right radius: 48px; */
  border-radius: 32px 32px 0 0;
}

.build-with-us-banner h3 {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 85px;
  line-height: 120%;
  letter-spacing: -4%;
  text-align: center;
  text-transform: uppercase;
  max-width: 831px;
  margin: 0 auto 5rem auto;
}

.build-with-us-banner h3 span {
  font-weight: 700;
}

.build-with-us-banner .view-more-button {
  margin: auto;
}

/* footer */

.footer-section {
  background: #181818;
  padding-top: 6.938rem;
}

.footer-content {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  justify-content: center;
  margin-bottom: 4.25rem;
}

.footer-text-1 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 3%;
  max-width: 420px;
  margin: 0 auto;
}

.footer-links-container {
  display: flex;
  flex-direction: column;
  gap: 2.813rem;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1%;
  background: linear-gradient(90deg, #ffffff 0%, #999999 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-social-links {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.footer-section .footer-text-2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20vw; /* Dynamic size based on screen width */
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5vw;
  color: #ffffff80;
  white-space: nowrap; /* Prevent text from wrapping */
}

.hovered-card-in-scroller {
  overflow: hidden;
  cursor: pointer;
}

.hovered-card-in-scroller::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  z-index: -1;
  border-radius: 23px; /* 20px + 3px border padding */
  padding: 3px; /* This defines the border thickness */

  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  background-size: 300% 300%;
  animation: animatedgradient_scroller 3s ease infinite alternate;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

/* Gradient animation keyframes */
@keyframes animatedgradient_scroller {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* about us  */

/* about us hero section  */

.about-us-hero-section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  overflow: hidden;
  position: relative;
  border-radius: 0 0 48px 48px;
  z-index: 1;
}

.about-us-hero-section-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 21vw;
  line-height: 120%;
  letter-spacing: -2%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.about-us-hero-section-content-wrapper span {
  background: linear-gradient(0deg, #772bf2, #772bf2),
    linear-gradient(180deg, #ec4b7b 0%, rgba(206, 10, 255, 0) 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* for Firefox */
  color: transparent;
}

.about-us-hero-section-content-wrapper {
  max-width: 996px;
  padding-left: 7.292vw;
  padding-bottom: 17.5vh;
  position: absolute;
  left: 0;
  bottom: 0;
}

.about-us-hero-section-content-wrapper h4 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0%;
}

.about-us-hero-section-footer-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  margin-top: 0.833rem;
}

.about-us-hero-section-footer-wrapper p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1%;
  background: linear-gradient(93.46deg, #c4c4c4 4.94%, #ffffff 98.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* service tags */

.servicetags-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  background: linear-gradient(0deg, #e1d3ff, #e1d3ff),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  width: 100%;
}

/* our approch */

.our-approach-wrapper {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: start;
  height: 100%;

  padding: 14.444vh 5.417vw 12.963vh 5.417vw;
}

.our-approach-wrapper .our-approach-content-wrapper p {
  max-width: 816px;
  font-family: var(--font-family-sequel-sans-medium);
  font-weight: 405;
  font-size: 2.5rem;
  line-height: 56px;
  letter-spacing: 0%;
  vertical-align: middle;
}

.our-approach-wrapper h3 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0%;
  vertical-align: middle;
}

.our-approach-wrapper h3 span {
  background: linear-gradient(0deg, #c883ff, #c883ff),
    linear-gradient(180deg, #772bf2 0%, rgba(206, 10, 255, 0) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* for Firefox */
  color: transparent;
}

/* impact status */

.impact-stats-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  justify-content: space-between;
  align-items: start;
  height: 100%;
  padding: 14.444vh 5.417vw 12.963vh 5.417vw;
}

.impact-stats-divider {
  text-align: center;
}

.impact-stats-divider p {
  font-family: Cabinet Grotesk;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 3%;
  text-align: center;
  background: linear-gradient(93.46deg, #c4c4c4 4.94%, #ffffff 98.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* for Firefox */
  color: transparent;
}

.impact-stats-divider .counter-container-wrapper {
  font-size: 12.5rem !important;
}

/* service highlights */

.service-highlights {
  margin-bottom: 8.75rem;
}

.service-highlights .workflow-stage-icon {
  width: 100px;
  height: 99.98622131347656px;
}
