@import "tailwindcss";
@tailwind utilities;

@font-face {
  font-family: "Sequel Sans Book";
  src: url("../../public/assets/font/Sequel\ Sans\ OTF/Sequel Sans Book Body.otf")
    format("opentype");
}

@font-face {
  font-family: "Sequel Sans Medium";
  src: url("../../public/assets/font/Sequel\ Sans\ OTF/Sequel Sans Medium Disp.otf")
    format("opentype");
}

@font-face {
  font-family: "Sequel Sans Random Display";
  src: url("../../public/assets/font/Sequel\ Sans\ OTF/Sequel Sans Roman Disp.otf")
    format("opentype");
}
@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../../public/assets/font/CabinetGrotesk_Complete/Fonts/OTF/CabinetGrotesk-Medium.otf")
    format("opentype");
}
@font-face {
  font-family: "subjectivity";
  src: url("../../public/assets/font/subjectivity/Subjectivity-Regular.otf")
    format("opentype");
}
:root {
  --background: black;
  --foreground: #ffffff;
  --font-family: "Cabinet Grotesk", sans-serif;
  --font-family-sequel-sans-book: "Sequel Sans Book", sans-serif;
  --font-family-sequel-sans-medium: "Sequel Sans Medium", sans-serif;
  --font-family-sequel-sans-random-display: "Sequel Sans Random Display";
  --font-family-subjectivity: "subjectivity", sans-serif;
}

body,
html {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family);
  position: relative;
  scroll-behavior: smooth;
}

/* navbar CSS */

.navitems-section-wrapper {
  background-image: url("../../public/assets/nav-content-background-image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 51px;
  border-radius: 100px;
  border: 1px solid #ffffff1a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden; /* important to clip ::before */
}

.particle-background-in-navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.navitems-section-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4); /* adjust opacity as needed */
  border-radius: 100px;
  z-index: -1;
}

.navitems-section-wrapper .nav-item {
  padding: 0.3rem 1rem;
  cursor: pointer;
}

.navitems-section-wrapper .nav-item.active-nav {
  border: 2px solid #ffffff80;
  border-radius: 100px;
  color: #ffffff;
  background: linear-gradient(
    75.1deg,
    rgba(0, 0, 0, 0.22) 21.7%,
    rgba(255, 255, 255, 0) 115.18%
  );
}

.navbar-wrapper {
  padding: 2rem 2rem 0 2rem;
  position: sticky;
  top: 0;
  z-index: 10;
  max-width: 1521px;
  margin: 0 auto;
}

.nav-item {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1rem;
  line-height: 20.04px;
  letter-spacing: -1%;
  color: #ffffff;
}

.start-project-button {
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 12px 28px;
  border: 1px solid #ffffff;
  border-radius: 100px;
  cursor: pointer;
  position: relative;
  z-index: 1; /* LOWER than background image */
  overflow: hidden;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 20.04px;
  letter-spacing: -1%;
}

.buttom-background-in-navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translateX(0); /* Ensure it's visible */
  transition: transform 0.3s ease-in-out;
  z-index: 0; /* Background should be BEHIND text and icon */
}

/* From Uiverse.io by elijahgummer */
.text {
  translate: 2% -6%;
  letter-spacing: 0.01ch;
  color: hsl(0 0% calc(60% + (var(--active) * 26%)));
  z-index: 999;
  padding: 0 34px;
  font-weight: 600;
  width: 100%;
  cursor: pointer;
}
.text::before {
  content: "";
  position: absolute;
  top: -290%;
  left: 90%;
  rotate: -45deg;
  height: 1px;
  background: linear-gradient(90deg, #ffffff, transparent);
  animation: 4s shootingStar ease-in-out infinite;
  transition: 1s ease;
  z-index: -1;
  animation-delay: 1s;
  display: none;
}
.text::after {
  content: "";
  display: none;
  position: absolute;
  top: -290%;
  left: 10%;
  rotate: -45deg;
  height: 1px;
  background: linear-gradient(90deg, #ffffff, transparent);
  animation: 7s shootingStar ease-in-out infinite;
  animation-delay: 3s;
}
.space-button:hover .text::before,
.space-button:hover .text::after {
  display: block;
}
.galaxy::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  opacity: 1;
  box-shadow: 140px 20px #fff, 425px 20px #fff, 70px 120px #fff, 20px 130px #fff,
    110px 80px #fff, 280px 80px #fff, 250px 350px #fff, 280px 230px #fff,
    220px 190px #fff, 450px 100px #fff, 380px 80px #fff, 520px 50px #fff;
  z-index: -1;
  transition: all 1.5s ease-in-out;
  animation: 1s glowing-stars linear alternate infinite;
  animation-delay: 0.4s;
}
.galaxy::after {
  content: "";
  position: absolute;
  top: -150px;
  left: -65px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  opacity: 1;
  box-shadow: 490px 330px #fff, 420px 300px #fff, 320px 280px #fff,
    380px 350px #fff, 546px 170px #fff, 420px 180px #fff, 370px 150px #fff,
    200px 250px #fff, 80px 20px #fff, 190px 50px #fff, 270px 20px #fff,
    120px 230px #fff, 350px -1px #fff, 150px 369px #fff;
  z-index: -1;
  transition: all 2s ease-in-out;
  animation: 1s glowing-stars linear alternate infinite;
  animation-delay: 0.8s;
}
.space-button {
  --cut: 0.1em;
  --active: 0;
  --bg: radial-gradient(
        120% 120% at 126% 126%,
        hsl(0 calc(var(--active) * 97%) 98% / calc(var(--active) * 0.9)) 40%,
        /* Changed hue to 0 for red */ transparent 50%
      )
      calc(100px - (var(--active) * 100px)) 0 / 100% 100% no-repeat,
    radial-gradient(
        120% 120% at 120% 120%,
        hsl(0 calc(var(--active) * 97%) 70% / calc(var(--active) * 1)) 30%,
        /* Changed hue to 0 for red */ transparent 70%
      )
      calc(100px - (var(--active) * 100px)) 0 / 100% 100% no-repeat,
    hsl(0 calc(var(--active) * 100%) calc(12% - (var(--active) * 8%))); /* Changed hue to 0 for red */
  border: 0;
  cursor: pointer;
  padding: 0.5em 0.5em;

  white-space: nowrap;
  position: relative;
  /* box-shadow: 0 0 calc(var(--active) * 6em) calc(var(--active) * 3em)
      hsla(12, 97%, 61%, 0.3),
    0 0.05em 0 0
      hsl(0, calc(var(--active) * 97%), calc((var(--active) * 50%) + 30%)) inset,
    0 -0.05em 0 0 hsl(0, calc(var(--active) * 97%), calc(var(--active) * 10%)) inset;

  transition: box-shadow 0.25s ease-out, scale 0.25s, background 0.25s; */
  /* scale: calc(1 + (var(--active) * 0.1)); */
  transform-style: preserve-3d;
  perspective: 100vmin;
  overflow: hidden;
}
.space-button:active {
  scale: 1;
  --bg: radial-gradient(
        120% 120% at 126% 126%,
        hsl(245 calc(var(--active) * 97%) 98% / calc(var(--active) * 0.9)) 40%,
        transparent 50%
      )
      calc(100px - (var(--active) * 100px)) 0 / 100% 100% no-repeat,
    radial-gradient(
        120% 120% at 120% 120%,
        hsl(245 calc(var(--active) * 97%) 70% / calc(var(--active) * 1)) 30%,
        transparent 70%
      )
      calc(100px - (var(--active) * 100px)) 0 / 100% 100% no-repeat,
    hsl(245 calc(var(--active) * 100%) calc(12% - (var(--active) * 8%)));
  box-shadow: 0 0 calc(var(--active) * 6em) calc(var(--active) * 3em)
      hsl(245 97% 61% / 0.5),
    0 0.05em 0 0
      hsl(245 calc(var(--active) * 97%) calc((var(--active) * 50%) + 30%)) inset,
    0 -0.05em 0 0 hsl(245 calc(var(--active) * 97%) calc(var(--active) * 10%)) inset;
  background: var(--bg);
}

/* Apply wobble animation on active button */
.space-button:active .text {
  font-weight: 300;
  animation: wobble 0.6s ease-in-out infinite,
    blurMove 1.5s ease-in-out infinite;
  text-shadow: 5px 5px 20px rgba(255, 255, 255, 0.8),
    10px 10px 30px rgba(255, 0, 255, 0.6);
}

/* Wobble animation */
@keyframes wobble {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-2px, -10px);
  }
  50% {
    transform: translate(2px, 3px);
  }
  75% {
    transform: translate(-1px, 5px);
  }
}

/* Blur move animation */
@keyframes blurMove {
  0%,
  100% {
    text-shadow: 5px 5px 20px rgba(255, 255, 255, 0.8),
      10px 10px 30px rgba(255, 0, 255, 0.6);
  }
  50% {
    filter: blur(1px);
    text-shadow: 10px 10px 25px rgba(255, 255, 255, 0.8),
      15px 15px 35px rgba(255, 0, 255, 0.6);
  }
}

.galaxy:active::before {
  animation: circling 2s linear infinite; /* Animation for circling effect */
}
.galaxy:active::after {
  animation: circling 1.5s linear infinite; /* Animation for circling effect */
}

@keyframes circling {
  0% {
    transform: translate(-10px, -20%) rotate(0deg);
  }
  100% {
    transform: translate(-10px, -20%) rotate(200deg);
  }
}
.galaxy {
  position: absolute;
  width: 100%;
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  overflow: hidden;
  opacity: var(--active);
  transition: opacity 0.25s;
}

@-webkit-keyframes move-x {
  0% {
    translate: -100px 0;
  }
  100% {
    translate: 100px 0;
  }
}
@keyframes move-x {
  0% {
    translate: -100px 0;
  }
  100% {
    translate: 100px 0;
  }
}
@-webkit-keyframes move-y {
  0% {
    transform: translate(0, -50px);
  }
  100% {
    transform: translate(0, 50px);
  }
}
@keyframes move-y {
  0% {
    transform: translate(0, -50px);
  }
  100% {
    transform: translate(0, 50px);
  }
}

.backdrop {
  position: absolute;
  inset: var(--cut);
  background: var(--bg);
  border-radius: 2rem;
  transition: background 0.25s;
  border: 1px solid #ffffff;
  cursor: pointer;
}

@supports (selector(:has(:is(+ *)))) {
  body:has(button:is(:hover, :focus-visible)) {
    --active: 1;
    --play-state: running;
  }
  .bodydrop {
    display: none;
  }
}

.space-button:is(:hover, :focus-visible) ~ :is(.bodydrop, .particle-pen) {
  --active: 1;
  --play-state: running;
}

.space-button:is(:hover, :focus-visible) {
  --active: 1;
  --play-state: running;
}

.galaxy-button {
  position: relative;
}

/* ANIMATIONS */
@keyframes shootingStar {
  0% {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateX(-55em) translateY(0);
    opacity: 1;
  }
  70% {
    transform: translateX(-70em) translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateX(0) translateY(0);
    opacity: 0;
  }
}

@keyframes glowing-stars {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* hero section  */

.hero-title-1,
.hero-title-2 {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 128px;
  line-height: 120%;
  letter-spacing: -7%;
  text-transform: uppercase;
}

.hero-title-1 {
  opacity: 70%;
}

.hero-title-2 {
  opacity: 100%;
  font-size: 140px;
}

.hero-section-wrapper {
  /* background-image: url("../../public/assets/hero-section-background.png");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat; */
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding-top: 4rem;
}

.background-image-hero-section {
  margin-top: -10%;
  left: 0;
  width: 100vw;
  max-height: 1180px;
  min-height: 1180px;
  object-fit: cover;
}

.hero-section-content-wrapper {
  position: absolute;
  z-index: 2;
  bottom: -3%;
  width: 100%;
  margin-top: 2rem;
}

.hero-content-wrapper {
  position: absolute;
  bottom: 0;
  align-items: center;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.hero-content-box-wrapper {
  width: 100%;
  height: fit-content;
  max-width: 1521px;

  display: flex;
  background-color: transparent;
  border-color: wheat;
  justify-content: space-around;
  padding: 2rem 0;
  align-items: center;
}

.plus-icon-in-counter {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 3%;
  text-transform: uppercase;
  background: linear-gradient(180deg, #ff891d 0%, #ec4b7b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* scroll to reveal section  */

.text-to-reveal-section-wrapper {
  padding: 1.75rem 0;
  max-width: 1232px;
  text-align: center;
  margin: 8.75rem auto;
}

.ScrollReveal_scroll-reveal-text__Td_gR {
  font-family: var(--font-family-sequel-sans-book);
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0%;
}

/* Our Expertise */

.our-expertise-wrapper {
  position: relative;
  background-image: url("../../public/assets/Our-Expertise-background-image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: center;
  position: relative;
  background: transparent;
  padding: 6.25rem 0;
  border: 1px solid #3f3f3f;
  border-radius: 48px;
  overflow: hidden;
}

.background-image-our-expertise {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #3f3f3f;
  border-radius: 48px;
}

.text-heading-our-expertise {
  font-weight: 500;
  font-size: 80px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  position: relative;
  z-index: 1;
}
.text-heading-our-expertise span {
  font-weight: 500;
  font-size: 80px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: Purple Gradient;
  background: linear-gradient(0deg, #c883ff, #c883ff),
    linear-gradient(180deg, #772bf2 0%, rgba(206, 10, 255, 0) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-paragraph-our-expertise {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  max-width: 816px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.falling-text-container-highlight {
  height: 300px;
  max-width: 1200px;
  margin: 5rem auto 0 auto;
}

.falling-text-container-highlight.hovered {
  max-width: 100%;
}

/* workflow stages */

.workflow-stages-container {
  padding: 8.75rem 0;
  position: relative;
}

.custom-scroll-text-in-workflow-stages {
  font-family: var(--font-family-subjectivity);
  font-weight: 500;
  font-size: 160px;
  line-height: 100%;
  letter-spacing: 3%;
  text-transform: uppercase;
  background: linear-gradient(93.46deg, #c4c4c4 4.94%, #ffffff 98.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  opacity: 15%;
}

.gradient-border {
  --borderWidth: 1px;
  background: #1d1f20;
  position: relative;
  border-radius: var(--borderWidth);
  max-height: 475px;
  min-height: 475px;
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.gradient-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
  border-radius: 20px;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.workflow-stages-grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(380px, 1fr));
  gap: 1rem;
  width: 100%;
  max-width: 1232px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.workflow-stage-id {
  font-family: var(--font-family-sequel-sans-medium);
  font-weight: 415;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 3%;

  background: linear-gradient(93.46deg, #c4c4c4 4.94%, #ffffff 98.78%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.1;
}

.workflow-stage-title {
  font-family: var(--font-family-sequel-sans-medium);
  font-weight: 415;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  background: linear-gradient(93.46deg, #c4c4c4 4.94%, #ffffff 98.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.workflow-stage-description {
  font-family: var(--font-family-sequel-sans-book);
  font-weight: 405;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3%;
  background: linear-gradient(93.46deg, #c4c4c4 4.94%, #ffffff 98.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.4;
  margin-top: 1.5rem;
}

.workflow-stage-arrow {
  display: block;
  margin-left: auto;
}

.inside-creative-mind-wrapper {
  text-align: center;
}

.inside-creative-mind-wrapper h3 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 80px;
  line-height: 88px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #ffffff;
}

.inside-creative-mind-wrapper h3 span {
  color: rgb(198, 90, 54);
}

.inside-creative-mind-wrapper p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  max-width: 816px;
  margin: 1.5rem auto 6.25rem auto;
}

.video-wrapper {
  max-width: 1232px;
  max-height: 659px;
  margin: 0 auto;
  width: 100%;
  aspect-ratio: 816 / 659; /* Use aspect ratio instead of padding */
  margin-bottom: 8.75rem;
}

.responsive-player {
  width: 100%;
  height: 100%;
  border-radius: 48px;
  overflow: hidden;
  position: relative;
}

.responsive-player > iframe,
.responsive-player > video,
.responsive-player > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* client projects section  */

.client-projects-container {
  text-align: center;
}

.client-projects-container .client-projects-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 80px;
  line-height: 88px;
  letter-spacing: 0%;
  vertical-align: middle;
}
.client-projects-container .client-projects-title span {
  background: linear-gradient(0deg, #772bf2, #772bf2),
    linear-gradient(180deg, #ec4b7b 0%, rgba(206, 10, 255, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* for Firefox */
  color: transparent;
}

.client-projects-container .client-projects-description {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  max-width: 816px;
  margin: 1.5rem auto 6.25rem auto;
}

.client-projects-container .client-projects-image {
  display: block;
  margin: 0 auto 2.5rem auto;
}

.title-text-in-projects-data {
  font-family: var(--font-family-sequel-sans-medium);
  font-weight: 410;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  max-width: 608px;
  text-align: left;
}

.paragraph-text-in-projects-data {
  font-family: var(--font-family-sequel-sans-medium);
  font-weight: 410;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.project-data-container {
  max-width: 1232px;
  margin: 0 auto 6.25rem auto;
}

.flowing-menu-item-projects-data-container {
  padding: 2rem 0;
}

.view-more-button,
.view-more-button-in-client-projects {
  /* width: 334px; */
  /* height: 72px; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 0 auto 10.143rem;

  font: 700 32px/1 var(--font-family);
  text-align: center;

  background: black; /* or your intended background */
  border: none;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  z-index: 1;
  color: white;
  padding: 1rem 2rem; /* adds spacing inside */

  /* to avoid overlap from pseudo-elements */
  /* overflow: hidden; */
}

.view-more-button:hover {
  background: linear-gradient(0deg, #c883ff, #c883ff),
    linear-gradient(180deg, #772bf2 0%, rgba(206, 10, 255, 0) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}
.view-more-button:hover .view-more-button-arrow{
  transform: rotate(-35deg);
  transition: transform 0.3s ease-in-out;
}

/* Full animated border around the button */
.view-more-button::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  z-index: -1;
  border-radius: 23px; /* 20px + 3px border padding */
  padding: 3px; /* This defines the border thickness */

  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  background-size: 300% 300%;
  animation: animatedgradient_button 3s ease infinite alternate;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.text-section-in-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1%;
}

.text-section-in-navbar span {
  margin-bottom: -4px;
}

/* From Uiverse.io by StealthWorm */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 3rem;
  background-size: 300% 300%;
  padding: 0 0.5rem;
  cursor: pointer;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  border: 3px solid #ffffffcc;
}

.btn:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 3rem;
  background-size: 300% 300%;
  padding: 0 0.5rem;
  cursor: pointer;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(#212121, #212121),
    linear-gradient(
      137.48deg,
      #ffdb3b 10%,
      #fe53bb 45%,
      #8f51ea 67%,
      #0044ff 87%
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
}

strong {
  z-index: 2;
  font-family: "Avalors Personal Use";
  font-size: 12px;
  letter-spacing: 5px;
  color: #ffffff;
  text-shadow: 0 0 4px white;
}

#glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.circle {
  width: 100%;
  height: 30px;
  filter: blur(2rem);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}

.circle:nth-of-type(1) {
  background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
  background: rgba(142, 81, 234, 0.704);
}

.btn:hover #container-stars {
  z-index: 1;
  background-color: #212121;
  color: #ffffff;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:active {
  border: double 4px #fe53bb;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.btn:active .circle {
  background: #fe53bb;
}

#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

#stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

#stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

#stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

/* Gradient animation keyframes */
@keyframes animatedgradient_button {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* testimonials showcase */

.backround-image-testimonial-showcase {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.absolute-container-testimonial-showcase {
  position: relative;
  top: 7.75rem;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 auto 8.75rem auto;
}

.absolute-container-testimonial-showcase .absolute-title-testimonial-showcase {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 80px;
  line-height: 88px;
  letter-spacing: 0%;
  vertical-align: middle;
}

.absolute-container-testimonial-showcase
  .absolute-title-testimonial-showcase
  span {
  background: linear-gradient(0deg, #c883ff, #c883ff),
    linear-gradient(180deg, #772bf2 0%, rgba(206, 10, 255, 0) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* for Firefox */
  color: transparent;
}

.absolute-container-testimonial-showcase
  .absolute-paragraph-testimonial-showcase {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  max-width: 476px;
  margin: 1.5rem auto 5rem auto;
}

/* .horizontal-scroller-card:last-child {
  margin-right: 1rem;
} */

.horizontal-scroller-card {
  padding: 1rem !important;
}

/* our partners section */

.our-partners-section {
  margin: 9.75rem auto 11.688rem auto;
  padding-top: 9.75rem;
}

/* build-with-us-banner */

.build-with-us-banner {
  background: linear-gradient(0deg, #772bf2, #772bf2),
    linear-gradient(180deg, #ec4b7b 0%, rgba(206, 10, 255, 0) 100%);
  background-blend-mode: screen;

  padding: 7.5rem 0;
  text-align: center;
  /* top-left and bottom-right radius: 48px; */
  border-radius: 32px 32px 0 0;
}

.build-with-us-banner h3 {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 85px;
  line-height: 120%;
  letter-spacing: -4%;
  text-align: center;
  text-transform: uppercase;
  max-width: 831px;
  margin: 0 auto 5rem auto;
}

.build-with-us-banner h3 span {
  font-weight: 700;
}

.build-with-us-banner .view-more-button {
  margin: auto;
}

/* footer */

/* From Uiverse.io by jolprince_5263 */
.footer-social-links .card {
  max-width: fit-content;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 1rem;
}

.footer-social-links .card:hover {
  animation: ease-out 5s;
}

.footer-social-links .card ul {
  padding: 1rem 1rem 1rem 0;
  display: flex;
  list-style: none;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.footer-social-links .card ul li {
  cursor: pointer;
}

.footer-social-links .svg {
  transition: all 0.3s;
  /* if you find some problems change w - h : 30px*/
  padding: 1rem;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  color: #999999;
  fill: currentColor;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.3),
    inset 0 0 5px rgba(255, 255, 255, 0.5), 0 5px 5px rgba(0, 0, 0, 0.164);
}

.footer-social-links .text {
  width: fit-content;
  font-family: var(--font-family);
  opacity: 0;
  border-radius: 5px;
  padding: 5px;
  transition: all 0.3s;
  color: rgb(255, 174, 0);
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  z-index: 9999;
  box-shadow: -5px 0 1px rgba(153, 153, 153, 0.2),
    -10px 0 1px rgba(153, 153, 153, 0.2),
    inset 0 0 20px rgba(255, 255, 255, 0.3),
    inset 0 0 5px rgba(255, 255, 255, 0.5), 0 5px 5px rgba(0, 0, 0, 0.082);
}

/*isometric prooyection*/
.footer-social-links .iso-pro {
  transition: 0.5s;
}
.footer-social-links .iso-pro:hover a > .svg {
  transform: translate(15px, -15px);
  border-radius: 100%;
}

.footer-social-links .iso-pro:hover .text {
  opacity: 1;
  transform: translate(25px, -2px) skew(-5deg);
}

.footer-social-links .iso-pro:hover .svg {
  transform: translate(5px, -5px);
}

.footer-social-links .iso-pro span {
  opacity: 0;
  position: absolute;
  color: #1877f2;
  border-color: #1877f2;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.3),
    inset 0 0 5px rgba(255, 255, 255, 0.5), 0 5px 5px rgba(0, 0, 0, 0.164);
  border-radius: 50%;
  transition: all 0.3s;
  height: 60px;
  width: 60px;
}

.footer-social-links .iso-pro:hover span {
  opacity: 1;
}

.footer-social-links .iso-pro:hover span:nth-child(1) {
  opacity: 0.2;
}

.footer-social-links .iso-pro:hover span:nth-child(2) {
  opacity: 0.4;
  transform: translate(5px, -5px);
}

.footer-social-links .iso-pro:hover span:nth-child(3) {
  opacity: 0.6;
  transform: translate(10px, -10px);
}

.footer-section {
  background: #181818;
  padding-top: 6.938rem;
  height: 670px;
  overflow: hidden;
  position: relative; /* Make sure it's positioned relatively for absolute children */
}

.footer-content {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  justify-content: center;
  margin-bottom: 4.25rem;
  max-width: 1521px;
  margin: 0 auto;
}

.footer-text-1 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 3%;
  max-width: 420px;
  margin: 0 auto;
}

.footer-links-container {
  display: flex;
  flex-direction: column;
  gap: 2.813rem;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1%;
  background: linear-gradient(90deg, #ffffff 0%, #999999 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .footer-social-links {
  display: flex;
  gap: 1rem;
  align-items: center;
} */

.footer-section .footer-text-2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 19vw; /* Dynamic size based on screen width */
  line-height: 1; /* Prevent extra vertical space */
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5vw;
  color: #ffffff80;
  position: absolute;
  top: 27.8rem;
  bottom: 0;
  margin: 0 auto;
  padding: 0;
  left: 0;
  right: 0;
}

.hovered-card-in-scroller {
  overflow: hidden;
  cursor: pointer;
}

.hovered-card-in-scroller::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  z-index: -1;
  border-radius: 23px; /* 20px + 3px border padding */
  padding: 3px; /* This defines the border thickness */

  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  background-size: 300% 300%;
  animation: animatedgradient_scroller 3s ease infinite alternate;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

/* Gradient animation keyframes */
@keyframes animatedgradient_scroller {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* about us  */

/* about us hero section  */

.about-us-hero-section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  overflow: hidden;
  position: absolute;
  top: 10%;
  border-radius: 0 0 48px 48px;
  z-index: 1;
}

.background-image-hero-section-about-us {
  margin-top: -10%;
  left: 0;
  width: 100vw;
  object-fit: cover;

  max-height: 980px;
  min-height: 980px;
}

.about-us-hero-section-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 21vw;
  line-height: 120%;
  letter-spacing: -2%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.about-us-hero-section-content-wrapper span {
  background: linear-gradient(0deg, #772bf2, #772bf2),
    linear-gradient(180deg, #ec4b7b 0%, rgba(206, 10, 255, 0) 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* for Firefox */
  color: transparent;
}

.about-us-hero-section-content-wrapper {
  max-width: 996px;
  padding-left: 7.292vw;
  padding-bottom: 17.5vh;
  position: absolute;
  left: 0;
  bottom: 0;
}

.about-us-hero-section-content-wrapper h4 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0%;
}

.about-us-hero-section-footer-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  margin-top: 0.833rem;
}

.about-us-hero-section-footer-wrapper p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1%;
  background: linear-gradient(93.46deg, #c4c4c4 4.94%, #ffffff 98.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* service tags */

.servicetags-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  background: linear-gradient(0deg, #e1d3ff, #e1d3ff),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  width: 100%;
}

/* our approch */

.our-approach-wrapper {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: start;
  height: 100%;
  max-width: 1521px;
  margin: 0 auto;

  padding: 14.444vh 5.417vw 12.963vh 5.417vw;
}

.our-approach-wrapper .our-approach-content-wrapper p {
  max-width: 816px;
  font-family: var(--font-family-sequel-sans-medium);
  font-weight: 405;
  font-size: 2.5rem;
  line-height: 56px;
  letter-spacing: 0%;
  vertical-align: middle;
}

.our-approach-wrapper h3 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0%;
  vertical-align: middle;
}

.our-approach-wrapper h3 span {
  background: linear-gradient(0deg, #c883ff, #c883ff),
    linear-gradient(180deg, #772bf2 0%, rgba(206, 10, 255, 0) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* for Firefox */
  color: transparent;
}

/* impact status */

.impact-stats-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  justify-content: space-between;
  align-items: start;
  height: 100%;
  padding: 14.444vh 5.417vw 12.963vh 5.417vw;
}

.impact-stats-divider {
  text-align: center;
}

.impact-stats-divider p {
  font-family: Cabinet Grotesk;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 3%;
  text-align: center;
  background: linear-gradient(93.46deg, #c4c4c4 4.94%, #ffffff 98.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* for Firefox */
  color: transparent;
}

.impact-stats-divider .counter-container-wrapper {
  font-size: 12.5rem !important;
}

/* service highlights */

.service-highlights {
  margin-bottom: 8.75rem;
  max-width: 1231px;
  margin: auto;
}

.service-highlights .workflow-stage-icon {
  width: 100px;
  height: 99.98622131347656px;
}

/* creative team intro */

.creative-team-main-wrapper-in-creative-team {
  background-image: url("/assets/Pink background blurred.png");
  background-size: contain;
  background-position: right center; /* right align, vertically centered */
  background-repeat: no-repeat;
}

.creative-team-intro-wrapper {
  margin-top: 8.75rem;
}

.creative-team-intro-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 140px;
  line-height: 140%;
  letter-spacing: -4%;
  text-align: center;
}

.creative-team-intro-title span {
  background: linear-gradient(0deg, #772bf2, #772bf2),
    linear-gradient(180deg, #ff891d 0%, #ec4b7b 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* for Firefox */
  color: transparent;
}

.text-section-in-creative-team {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 5rem;
}

.text-section-in-creative-team p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
}

.text-wraper-in-creative-team {
  max-width: 1279px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.creative-team-image {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  overflow: hidden;
  border: 1px solid #3f3f3f;
  cursor: pointer;
}

.creative-team-image-wrapper {
  padding: 0 6.563rem 7rem 6.563rem;
  max-width: 1521px;
  margin: auto;
}

.main-heading-tet-in-creative-team {
  font-family: var(--font-family-sequel-sans-medium);
  font-weight: 410;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0%;
  background: linear-gradient(180deg, #ff891d 0%, #ec4b7b 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* for Firefox */
  color: transparent;
}

.creative-team-tags {
  font-family: var(--font-family-sequel-sans-medium);
  font-weight: 405;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
}

.creative-team-description {
  font-family: var(--font-family-sequel-sans-medium);
  font-weight: 405;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

.creative-team-name {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -2%;
  text-align: center;

  background: linear-gradient(0deg, #c883ff, #c883ff),
    linear-gradient(180deg, #772bf2 0%, rgba(206, 10, 255, 0) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* for Firefox */
  color: transparent;
}

.creative-team-role {
  font-family: var(--font-family);
  font-weight: 405;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  background: linear-gradient(94.46deg, #ffffff 25.29%, #9c9c9c 107.3%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* for Firefox */
  color: transparent;
}
/* trusted by brands section */

.trusted-by-brands-wrapper {
  position: relative;
}

.heading-content-holders {
  padding: 0 6.563rem 7.5rem 6.563rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1521px;
  margin: auto;
}

.heading-content-holders h3 {
  max-width: 500px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 80px;
  line-height: 88px;
  letter-spacing: 0%;
  vertical-align: middle;
}

.heading-content-holders h3 span {
  background: linear-gradient(0deg, #772bf2, #772bf2),
    linear-gradient(180deg, #ec4b7b 0%, rgba(206, 10, 255, 0) 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* for Firefox */
  color: transparent;
}

.heading-content-holders p {
  max-width: 415px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  vertical-align: middle;
}

/* Add this to your global CSS or module CSS */
.brand-logo {
  transition: all 0.3s ease;
}

.brand-logo svg .brand-fill {
  transition: fill 0.3s ease, stroke 0.3s ease;
}

.brand-logo:hover svg .brand-fill {
  fill: #3b82f6;
}
.brand-logo:hover svg .brand-stroke {
  stroke: #3b82f6;
}

/* service overview  */

.services-overview-wrapper {
  padding: 8.75rem 0 12.5rem 0;
}

.services-overview-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 80px;
  line-height: 88px;
  letter-spacing: 0%;
  text-align: center;
}

.services-overview-title span {
  background: linear-gradient(0deg, #c883ff, #c883ff),
    linear-gradient(180deg, #772bf2 0%, rgba(206, 10, 255, 0) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* for Firefox */
  color: transparent;
}
.services-overview-description {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  max-width: 608px;
  margin: auto;
}

.services-overview-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
  padding: 6.25rem;
  max-width: 1284px;
  margin: auto;
}

.services-overview-list {
  width: 100%;
}

.services-overview-list p {
  font-family: var(--font-family-sequel-sans-medium);
  font-weight: 415;
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -2%;
}

/* let's work together */

.let-work-together-wrapper {
  margin: 17.5rem auto 8.75rem auto;
  padding-bottom: 0;
}

.let-work-together-paragraph {
  margin-top: 1.5rem;
  margin-bottom: 4.25rem;
}

.button-container-our-expertise-form {
  height: 100%;
  max-width: 870px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.work-together-service-text {
  font-family: var(--font-family-sequel-sans-book);
  font-weight: 410;
  font-style: "Roman Dip";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #9a6aff;
  margin-bottom: 1rem;
}

.let-work-together-button {
  font-family: var(--font-family);
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.lets-build-something-button {
  font-family: var(--font-family);
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 5rem;
}

/* catagory filter bar */

.work-grid-filter-button {
  font-family: var(--font-family);
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  height: 49px;
  cursor: pointer;
}

/* project showcase grid  */

.project-tags-in-project-showcase-grid {
  font-family: var(--font-family);
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
}

.image-box-project-showcase-grid {
  max-height: 454px;
  min-height: 454px;
  border-radius: 20px;
}

.project-title-in-project-showcase-grid {
  font-family: var(--font-family-sequel-sans-medium);
  font-weight: 415;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  background: linear-gradient(93.46deg, #c4c4c4 4.94%, #ffffff 98.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* for Firefox */
  color: transparent;
}

.project-description-in-project-showcase-grid {
  font-family: var(--font-family-sequel-sans-book);
  font-weight: 405;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  background: linear-gradient(93.46deg, #c4c4c4 4.94%, #ffffff 98.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* for Firefox */
  color: transparent;
  opacity: 40%;
}
